.AllIssues-root-92{
    margin-bottom: 40px;
    min-height: 240px;
}

.issueForm{
    margin-left: 50px;
    margin-bottom: 100px;
}

.textCenter{
    text-align: center;
}

.productForm, .userForm, {
    margin: 20px auto 120px;
    text-align: center;
}

table.table.table-hover.table-bordered {
    background: grey;
}

.bugForm{
    width:80%;
    margin: 20px auto 120px; 
}

.ReduxForm-root-94 input#date{
    padding-left: 100px;
    color: black;
}