.sidebar {
   width: 100px;
}

nav.sidebar-menu {
    text-align: center;
    height: 120vh;
}

.sidebar-left {
    padding-top: 1em;
    border-right: solid 2px  rgb(144, 164, 174);
}

.sidebar-menu-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar-menu-list-item {
    padding: 10px;
    border-bottom: none;
    display: block;
}

svg.MuiSvgIcon-root-120{
    font-size: 2em;
}