.footer {
    box-sizing: border-box;
    height: 150px;
    background-color: #000000;
    border-top: 1px solid #e0e0e0;
    padding: 20px 15px;
    /* position: fixed;
    bottom: 0; */
    z-index: 1;
  }